.title
  font-size 5u
  +desktop()
    font-size 9u

.filters
  margin-top: 4u

.pagination
  margin-top: 2u

.grid
  margin-top: 4u

.row
  margin -1u
  justify-content flex-start

.item
  padding 1u
  width 100%
  align-items center
  +desktop()
    width 50%
  +wide()
    width 33.333%
